apiVersion: 1

providers:
  - name: Ops Status Board
    orgId: 1
    folder: Ops Status Board
    type: file
    disableDeletion: true
    editable: false
    updateIntervalSeconds: 10
    options:
      path: /etc/grafana/provisioning/dashboards/ops-status-board